<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Performance tests</title>
</head>
<body>
    <h1>Performance tests</h1>
    <p>To run performance tests click @Html.ActionLink("HERE", "Index", "PerformanceTests")</p>
    <p>It can take about 20 minutes to see the results</p>
</body>
</html>